.options-bar-div{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5vw;
    max-width: 70px;
    min-width: 70px;
    z-index: 4;
    background: #F78914;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 5px 8px #6b6767;

}

.options-icons{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;

}

.double-spacer {
    margin-bottom: 25px;
}

.options-modal {
    z-index: 100;
    position: relative;
    top: 10%;
    left: 7%;
    background-color: white;
    width: max-content;
    padding: 40px;
    padding-right: 60px;
    padding-left: 60px;
    box-shadow: 4px 5px 8px #6b6767;
    outline: 2px solid orange;
    outline-offset: -10px;
}