.login-form-div {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-logo{
    height: 260px;
    margin-right: 75px;
}

.login-button{
    border-radius: 10px;
    background-color: orange;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px
}

.login-button:hover{
    background-color: #ee7308;
}

.login-spacer {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.session-form {
    margin-top: 10px;
    width: max-content;
}

.signin-logo{
    height: 70px
}

.signup-head {
    display: flex;
    justify-content: space-between;
}

.signup-div{
    box-shadow: 7px 7px 14px grey;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 15px;
}

.signup-head{
    padding-top: 4px;
    margin-bottom: 5px;
}

.sign-up {
    text-align: center;
    font-size: 14px
}

.sign-up:hover{
    color: #ee7308;
}

.switch-login{
    text-align: center;
    font-size: 14px;
}

.switch-login:hover{
    color: #ee7308;
}