.settings-text:hover{
    color: #ee7308
}

.settings-modal{
    outline: none;
    border-radius: 10px;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
}

.settings-text{
    font-size: 1.2em;
}

.account-delete {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}