.my-profile-modal{
    position: absolute;
    top: 10%;
    left: 7%;
    height: max-content;
    max-width: 400px;
    min-width: 375px;
    padding: 15px;
    background-color: white;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    box-shadow: 4px 5px 8px #6b6767;
    z-index: 6;
}

.my-update-modal{
    position: absolute;
    top: 10%;
    left: 6%;
    max-width: 800px;
    min-width: 375px;
    height: max-content;
    padding: 15px;
    background-color: white;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    box-shadow: 4px 5px 8px #6b6767;
    z-index: 100;
}


/* .current-user-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
} */

.profile-image {
    margin-left: 10px;
    height: 300px;
    width: 300px;
    margin-right: 40px;
}

.profile-page-buttons{
    display:flex;
    justify-content: center;
    width: 80%;
    align-self: center;
}

.show-profile-image{
    height: 300px;
    width: 300px;
}

.profile-image-div{
    display: flex;
    justify-content: center;
}


.profile-close {
    position: relative;
}

.update-div{
    display: flex;
    flex-direction: column;
}

.update-buttons {
    display: Flex;
    width: 85%;
}

.update-button{
    margin-left: 30px;
    margin-right: 30px;
}

.profile-text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.preview-image{
    width: 300px;
    height: 300px;
    border-radius: 800px;
    border: 2px solid orange;
    margin-top: 15px
}

#file-upload-button{
    background-color: none;
}


.current-user-profile{
    display: flex;
    flex-direction: column;
}

.edit-div{
    display: flex

}

.update-buttons-div{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
}
.update-categories{
    display: flex;
    margin-bottom: 60px;
}

.label-div{
    display: flex;
    flex-direction: column;
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px
}


div.label-div label{
    margin-bottom: 5px;
    font-size: 18px;
}
div.label-div input{
    width: 300px;
    font-size: 18px;
    color: grey;
}

#checkbox{
    width: 20px;
}

.profile-image-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.edit-profile-button{
    margin-top: 30px;
}

.my-details-text{
    margin-top: 20px
}

div.profile-puppy-details-section span{
    font-size: 20px;
}
div.profile-puppy-details-section div{
    margin-top: 5px;
    margin-bottom: 5px;
}

div.profile-puppy-details-section {
    margin-left: 10px;
}
