.marker-modal {
    position: absolute;
    top: 10%;
    right: 5%;
    max-width: 400px;
    min-width: 375px;
    height: max-content;
    padding: 15px;
    background-color: white;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    box-shadow: 4px 5px 8px #6b6767;
    z-index: 4;
}

.modal-close-marker {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 16px;
    color: #ee7308;
}

.modal-marker-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.business-profile-image{
    height: 200px;

}

.business-info{
    text-align: center;
    font-size: 1.5em;
    margin: 20px
}