.main-page-logo{
    height: 85px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    z-index: 4;
}

.nav-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.filter {
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 13px;
}

.filter:hover{
    color: #ee7308;

}

.nav-bar-height{
    min-height: 75px;
    z-index: 3;
    position: relative;
    background-color: white;
}
