.filter-modal {
    z-index: 100;
    position: absolute;
    top: 9%;
    right: 1%;
    background-color: white;
    width: max-content;
    padding: 40px;
    padding-right: 60px;
    padding-left: 60px;
    box-shadow: 4px 5px 8px #6b6767;
}