.filter-modal {
    position: absolute;
    top: 9%;
    right: 1%;
    width: max-content;
    padding: 5px;
    background-color: white;
    border: 5px solid #F78914;
    box-shadow: 4px 5px 8px #6b6767;
    z-index: 4;
}

div.filter-modal img{
    height: 60px;
    margin: 10px;
}

.filter-close{
    color: white;
}