

img[src="https://puppyplaydates.s3.us-east-2.amazonaws.com/public/animal-g765307ffb_1280.png"]{
    border-radius: 100px;
    border:1px solid #000 !important;
}

/* drop-shadow(4px 7px 1px rgba(0,0,0))  For Map Marker Shadows*/


.map-center-button {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        z-index: 2;
        position: absolute;
        bottom: 3%;
        right: 4%;
        background: white;
        font-size: 27px;
}

.crosshairs{
    color: #646262;
}
