

img[src="https://puppyplaydates.s3.us-east-2.amazonaws.com/public/animal-g765307ffb_1280.png"]{
    border-radius: 100px;
    border:1px solid #000 !important;
}

.map-center-button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    bottom: 2.8%;
    right: 3.9%;
    background: white;
    font-size: 27px;
}

.crosshairs{
    color: #646262;
}
