.logout-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    box-shadow: 2px 5px 8px #6b6767;
    border-radius: 10px;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
}

.logout-button-div{
    display: flex;
}

.logout-buttons {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px
}

.logout-text{
    text-align: center;
    font-size: 18px;
}