.avatar {
    width: 200px;
    margin: 10px;
    border:7px solid orange;
    border-radius: 500px;
    outline: 2px solid orange;
    outline-offset: 5px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.landing-page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.landing-page-personnel {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.landing-page-links {
    display: flex;
}

.link-icon{
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.link-icon:hover{
    color:  #F78914
}

.landing-page-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-icon{
    height: 230px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.login-developers{
    margin-top: 20px;
    border-top: 2px solid lightgray;
    padding: 20px;
}

.landing-button-div{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.landing-welcome {
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing-button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 0px
}