html {
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.1em;
}

/* div {
    border: 1px solid red
} */

.button {
    border-radius: 20px;
    background-color: orange;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    width: 100%;
    margin-bottom: 12px;
}

button:hover{
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:hover { 
    color: #ee7308;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    width: 175px;
    outline: none;
}

#portal{
    height: inherit;
    width: 100%;
}

.spacer {
    margin-bottom: 7px;
}

.container{
    display: flex;
    justify-content: center;
}
.errors {
    margin-top: 3px;
    font-size: .7em;
    color: red
}

.green-text{
    color: #0e592a

}

.grey-text{
    color: grey;
}

.orange-text{
    color: orange
}

.dark-orange-text{
    color: #ee7308;
}

.white-text{
    color: white;
}

