html {
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
    font-weight: medium;
}

h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.1em;
}

/* div{
    border: 1px solid red
} */

.button {
    border-radius: 10px;
    background-color: orange;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    margin-bottom: 12px;
    outline: 1px solid white;
    outline-offset: -5px;
    font-size: 18px
}

button:hover{
    cursor: pointer;
}

.button:hover{
    background-color: #ee7308;
}

.grey-button{
    border-radius: 10px;
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    width: 100%;
    margin-bottom: 12px;
    border: 2px solid #ee7308;
    outline: none;

}

.grey-button:hover{
    cursor: pointer;
    color: white;
    background-color: #ee7308;
}

.small-button {
    width: 50%
}

a:link {
    text-decoration: none;
}

a:hover { 
    color: #ee7308;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    width: 200px;
    outline: none;
    font-size: 20px;
}

#portal{
    /* position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0; */
    height: inherit;
    width: 100%;
    z-index: 1;
}

.hidden {
    display: none;
}

.spacer {
    margin-bottom: 7px;
}

.container{
    display: flex;
    justify-content: center;
}
.errors {
    margin-top: 3px;
    font-size: .7em;
    color: red
}

.green-text{
    color: #0e592a

}

.grey-text{
    color: grey;
}

.orange-text{
    color: orange
}

.dark-orange-text{
    color: #ee7308;
}

.white-text{
    color: white;
}

.modal-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 6;
}

.central-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 2px 5px 8px #6b6767;
    border-radius: 20px;
    outline: 2px solid orange;
    outline-offset: -10px;
}

.modal-close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 16px;
    color: #ee7308;
}
