.profile-modal {
    position: absolute;
    top: 10%;
    right: 5%;
    max-width: 400px;
    min-width: 375px;
    height: max-content;
    padding: 15px;
    background-color: white;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    box-shadow: 4px 5px 8px #6b6767;
    z-index: 4;
}
 
.profile-modal img{
    height: 300px;
    margin-bottom: 20px;
}

.checkbox{
    margin-left: 20px;
    margin-right: 5px;
}

.dog-name-section{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px
}

.add-friend-bone{
    margin-right: 20px;
    margin-left: 20px;
}

.pop-up-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div.puppy-details-section span{
    font-size: 20px;

}

.owner-details-section span{
    font-size: 20px;
}

#delete-friend-on-modal{
    color: orange
}

#delete-friend-on-modal:hover{
    color: #ee7308
}

.friend-profile-button-options{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}