.date-modal{
    position: relative;
    top: 10%;
    left: 7%;
    background-color: white;
    width: max-content;
    height: 80%;
    padding: 40px;
    box-shadow: 4px 5px 8px #6b6767;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    z-index: 10;
    overflow: auto;
}

.date-list{
    display: flex;
    font-size: 1.3em;
    color: orange;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pending-info{
    display: flex
}

#date-request-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px
}

#date-item{
    margin-left: 0px;
    margin-top: 10px
}