.date-modal{
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: white;
    width: max-content;
    height: 80%;
    padding: 40px;
    box-shadow: 4px 5px 8px #6b6767;
    border: 5px solid orange;
    outline: 2px solid orange;
    outline-offset: -10px;
    z-index: 10;
    overflow: auto;
}

.date-list{
    display: flex;
    font-size: 1.3em;
    color: orange;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pending-info{
    display: flex
}

#date-request-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px
}

#date-item{
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.date-info-container{
    display: flex;
    align-items: center;
}

.date-request-items{
    align-items: flex-start;
}

.accept-button{
    padding-left: 10px;
}

.date-spacer {
    margin-top: 10px;
}

.update-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.show-date {
    display: flex;
    flex-direction: column;
}

.date-title {
    text-align: center;
}

.date-image{
    align-self: center;
}

.date-details{
    font-size: 20px;
    margin-left: 20px;
}